.comment-thread {
  max-width: 100%;
  margin: auto;
  padding: 0 1em;
  border: 1px solid transparent; /* Removes margin collapse */
}

/* Comment */

.comment {
  position: relative;
  margin: .5em auto;
}
.comment-info {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1em;
}
.comment-author {
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
}
.comment-author:hover {
  text-decoration: underline;
}

/* Adjustments for the comment border links */

.comment-border-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.comment-body {
  padding-left: 1em;
}

.comment-body .markdown-body {
  margin: 1em;
}

.comment-body .editor .markdown-body {
  margin: 0;
}

.replies {
  margin-left: 1em;
}

/* Adjustments for toggleable comments */

details {
  background-color: rgba(0, 0, 0, 0.03);
  padding: .5em 0;
}

details div.comment-url {
  font-size: 1.2em;
}

details.comment summary {
  position: relative;
  list-style: none;
  cursor: pointer;
}

details.comment summary::-webkit-details-marker {
  display: none;
}

details.comment button.linky {
  background:none!important;
  border:none;
  padding:0!important;
  cursor:pointer;
  text-decoration:underline;
  font-size: .8em;
}

.reply-form {
  margin-bottom: 2em;
}

/* Adjustment for Internet Explorer */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Resets cursor, and removes prompt text on Internet Explorer */
  .comment-heading {
    cursor: default;
  }
  details.comment[open] .comment-info::after,
  details.comment:not([open]) .comment-info::after {
    content: " ";
  }
}

.d-none {
  display: none;
}
