  .comment-thread {
      max-width: 100%;
      margin: auto;
      padding: 0 30px;
      border: 1px solid transparent; /* Removes margin collapse */
  }
  .sr-only {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
  }

  /* Comment */

  .comment {
      position: relative;
      margin: 20px auto;
  }
  .comment-heading {
      display: flex;
      align-items: center;
      font-size: .8em;
  }
  .comment-info {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 10px;
  }
  .comment-author {
      color: rgba(0, 0, 0, 0.75);
      font-weight: bold;
      text-decoration: none;
      font-size: 1.1em;
  }
  .comment-author:hover {
      text-decoration: underline;
  }

  /* Adjustments for the comment border links */

  .comment-border-link {
      display: block;
      position: absolute;
      top: 50px;
      left: 0;
      width: 12px;
      height: calc(100% - 50px);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      background-color: rgba(0, 0, 0, 0.1);
      background-clip: padding-box;
  }
  .comment-border-link:hover {
      background-color: rgba(0, 0, 0, 0.3);
  }
  .comment-body {
      padding: 0 20px;
      padding-left: 28px;
  }
  .comment-body .markdown-body {
    padding: .5em 0;
  }

  .replies {
      margin-left: 28px;
  }

  /* Adjustments for toggleable comments */

  details.comment summary {
      position: relative;
      list-style: none;
      cursor: pointer;
  }
  details.comment summary::-webkit-details-marker {
      display: none;
  }
  details.comment[open] .comment-info::after {
      content: "Click to hide";
  }
  details.comment:not([open]) .comment-info::after {
      content: "Click to show";
  }

  /* Adjustment for Internet Explorer */

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      /* Resets cursor, and removes prompt text on Internet Explorer */
      .comment-heading {
          cursor: default;
      }
      details.comment[open] .comment-info::after,
      details.comment:not([open]) .comment-info::after {
          content: " ";
      }
  }

  /* Styling the reply to comment form */
  .reply-form .editor {
    margin: .5em 0;
    height: 100%;
    border: 1px solid #ccc;
  }

  .reply-form .editor textarea, .reply-form .editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
  }

  .reply-form textarea {
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: "Monaco", courier, monospace;
    padding: 1em;
  }
  .d-none {
      display: none;
  }
