.replies {
  margin-left: .75em;
}

details.comment summary {
  position: relative;
  list-style: none;
  cursor: pointer;
}

details.comment summary::-webkit-details-marker {
  display: none;
}

details .v-card__text {
  padding: .25em .5em !important;
}

details > .v-card__text {
  padding: .25em 1.5em !important;
}

div.replies > .v-sheet {
  border-left: thin solid rgba(0, 0, 0, 0.12) !important;
}

summary .v-card__text {
  margin-top: 1em !important;
}

.v-card__actions {
  margin-left: 1.25em;
  padding: 0 !important;
}

/*
.v-card__actions {
  border-bottom: thin solid rgba(0, 0, 0, 0.12) !important;
}

div.replies {
  margin-top: 1.5em;
}
*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
