.replies {
  margin-left: 1.5em;
}

details.comment summary {
  position: relative;
  list-style: none;
  cursor: pointer;
}

details.comment summary::-webkit-details-marker {
  display: none;
}

.v-card__text, .v-card__title {
  padding: .25em !important;
}

div.replies > .v-sheet {
  border-left: thin solid rgba(0, 0, 0, 0.12) !important;
  border-top: thin solid rgba(0, 0, 0, 0.12) !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
